body {
    padding: 10px;
}

table {
    border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
    border: 1px solid grey; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}

th, td {border: 1px solid grey;padding: 3px 3px 3px 20px;}

